global
    maxconn 256

defaults
    log     global
    mode    tcp
    option  dontlognull
    timeout connect 5s
    timeout client 30m
    timeout server 30m

listen stats
    mode http
    bind *:8404
    stats enable
    stats uri /stats
    stats refresh 5s
    stats admin if TRUE

# Бэкенд для записей (только мастер)
listen primary
    bind *:5000
    # Проверка работоспособности PostgreSQL через встроенный механизм
    option pgsql-check user haproxy_user
    default-server inter 3s fall 3 rise 2 on-marked-down shutdown-sessions
    server pg-master pgmaster:5432 maxconn 100 check

# Бэкенд для чтения (слейвы, балансировка Round Robin)
listen standbys
    bind *:5001
    balance roundrobin
    option pgsql-check user haproxy_user
    default-server inter 3s fall 3 rise 2 on-marked-down shutdown-sessions
    server pg-slave1 pgslave:5432 maxconn 100 check
    server pg-slave2 pgasyncslave:5432 maxconn 100 check
